/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрип
*/

.page {
  min-block-size: 100dvb;
  background-image: var(--background);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: var(--main-fonts), sans-serif;
  margin: 0 auto;
  inline-size: min(100%, 700px);
  margin-block-start: 100px;
  font-variation-settings: "wght" var(--font-weight-s), "wdth" 0, "opsz" 0;
}

.header {
  display: grid;
  align-items: center;
  justify-items: center;
  align-content: center;
  border: 2px solid var(--accent-color);
  padding-block-start: clamp(120px, calc(50% - 68px), 136px);
  padding-block-end: 25px;
  background-color: var(--background-color);
}

.header_title {
  font-family: var(--accent-fonts), sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 49px;
  text-transform: uppercase;
  color: var(--accent-color);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  margin-block-end: 20px;
}

.header_text_title {
  text-transform: uppercase;
  color: var(--accent-color);
  font-family: var(--accent-fonts), sans-serif;
  font-style: normal;
  line-height: 14px;
  font-weight: 400;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  margin-block-end: 25px;
}

.theme-menu__button {
  text-transform: uppercase;
  color: var(--accent-color);
  font-family: var(--accent-fonts), sans-serif;
  font-style: normal;
  font-weight: 400;
  background-color: transparent;
  border: none;
  font-size: 14px;
  cursor: pointer;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  position: relative;
  max-inline-size: 84px;
}

.theme-menu__item {
  max-block-size: 14px;
}

.theme-menu__button:disabled {
  color: var(--accent-color);
  opacity: 0.6;
  pointer-events: none;
  transition: opacity 0.3s;
}

.theme-menu__button:hover {
  opacity: 0.6;
  transition: opacity 0.3s;
}

.theme-menu__button:focus {
  outline: none;
  border: none;
  opacity: 0.6;
  transition: opacity 0.3s;
}

.section_title {
  font-style: normal;
  font-variation-settings: "wght" var(--font-weight-l), "wdth" 0, "opsz" 0;
  font-size: var(--font-size-18);
  line-height: 22px;
  color: var(--accent-color);
  padding: 3.5px 10px;
  border-bottom: 2px solid var(--accent-color);
}

.section_text {
  font-style: normal;
  font-size: var(--font-size-18);
  line-height: 21px;
  color: var(--accent-color);
  padding: 25px 25px 0;
  border-top: 2px solid var(--accent-color);
}

.section_text p + p {
  padding-top: 27px;
}

.content {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.post {
  border: 2px solid var(--accent-color);
  inline-size: 100%;
  background-color: var(--background-color);
}

.card {
  position: relative;
}

.card_lebel {
  position: absolute;
  text-transform: uppercase;
  color: var(--accent-color);
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  opacity: 0.5;
  text-shadow: -1px 0 var(--background-color), 0 1px var(--background-color),
    1px 0 var(--background-color), 0 -1px var(--background-color);
  mix-blend-mode: hard-light;
  font-family: var(--accent-fonts);
  padding-block-start: 25px;
  padding-inline-end: 13px;
  inset-inline-end: 0px;
  inset-block-start: 0px;
  z-index: 1;
}

@supports ((text-stroke: 1px(--background-color, ))or (-webkit-text-stroke: 1px (--background-color))) {
  .card_lebel {
    -webkit-text-stroke: 1px var(--background-color); /*по макету там обводка в 1рх, но цвет контура почему-то съедает буквы, поэтому я указала меньше,мне показалось так выглядит симпатичнее*/
    text-stroke: 1px var(--background-color);
    text-shadow: none;
  }
}

.image {
  display: block;
  inline-size: 100%;
  min-height: 371px;
  object-fit: cover;
  object-position: center;
}

.button__text {
  font-family: var(--accent-fonts), sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 90%;
  position: relative;
  z-index: 1;
  color: var(--button-color);
  mix-blend-mode: difference;
  text-wrap: nowrap;
}

.button {
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
  color: var(--accent-color);
  font-family: var(--accent-fonts);
  font-size: 14px;
}

.card__icon-button {
  border: none;
  padding: 0;
  transition: border 0.3s ease;
}

.card__like-button {
  min-inline-size: 130px;
  min-block-size: 38px;
  position: relative;
}

.button_section {
  padding: 25px 25px 25px 0;
  display: flex;
  justify-content: flex-end;
  gap: 6px;
}

.card__like-button:focus {
  outline: none;
}

.card__like-button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 var(--accent-color);
  transition: box-shadow 0.3s;
}

.card__icon-button:focus {
  outline: none;
  border: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
  transition: border 0.3s ease;
  max-height: 38px;
}

.section_memory {
  margin: 0 34.5px 100px;
  display: flex;
  justify-content: center;
  background-color: none;
}

.memory_button {
  position: relative;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 15px 19.5px;
  min-block-size: 84px;
}

.memory_button:focus {
  outline: none;
}

.memory_button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
  transition: box-shadow 0.3s;
}

.memory_button::before {
  content: "";
  position: absolute;
  display: inline-block;
  inset-inline-end: 0;
  inset-block-start: 0;
  inline-size: 100%;
  block-size: 100%;
  background-color: var(--accent-color);
  transform: scaleX(0);
}

.memory_button:hover::before {
  transform-origin: left;
  transform: scaleX(1);
  transition: transform 0.5s ease-in-out;
}

.floppy_logo {
  inline-size: 28px;
  block-size: 28px;
  mix-blend-mode: difference;
}

.dialog {
  background-color: var(--background-color);
  min-inline-size: 341px;
  min-block-size: 191px;
  border: 2px solid var(--accent-color);
}

.dialog[open] {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  justify-content: center;
}

.dialog_logo {
  inline-size: 39px;
  block-size: 39px;
}

.dialog_content {
  display: flex;
  gap: 20px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.dialog_text {
  font-family: var(--accent-fonts), sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  color: var(--accent-color);
  max-inline-size: 198px;
}

.button_dialog-close {
  font-weight: 400;
  line-height: 150%;
  text-transform: uppercase;
  min-inline-size: 257px;
  min-block-size: 38px;
}

dialog::backdrop {
  background: #000;
  opacity: 0.75;
}

.filter-brightness {
  filter: brightness(120%);
}

.filter-contrast {
  filter: contrast(250%);
}

.filter-opacity {
  filter: opacity(50%);
}

.filter-saturate {
  filter: saturate(120%);
}

.filter-sepia {
  filter: sepia(0.1);
}

.filter-blur {
  filter: blur(3px);
}

.filter_mass {
  filter: brightness(110%) sepia(0.1) saturate(120%);
}

@media (width >= 376px) {
  .header {
    min-height: 368px;
    grid-template-rows: 2fr 1fr 2fr;
    padding-block-end: 15px;
  }

  .header_title {
    margin-block-end: 20px;
    line-height: 65px;
  }

  .header_text_title {
    margin-block-end: 20px;
    line-height: 23px;
  }

  .header__theme-menu {
    padding-block-end: 12px;
  }

  .memory_button {
    min-block-size: 55px;
  }

  .image {
    min-height: 696px;
  }

  .floppy_logo {
    inline-size: 21px;
    block-size: 21px;
  }
}
